@import './../../../styles/colors.scss';

.reg {
  width: 100%;
  max-width: 1440px;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-container {
  height: 100%;
  width: 390px;
}

.reg-title {
  font-weight: 500;
  line-height: 16px;
  color: $green;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.signin-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px;
}

.signin-text {
  margin-right: 5px;
}

.signin-link {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  &:hover {
    color: $green;
  }
}

@media screen and (max-width: 1000px) {
  .reg {
    padding: 0 60px;
  }
}

@media screen and (max-width: 600px) {
  .reg {
    padding: 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .reg {
    padding: 0 20px;
  }
}
