@import './../../../styles/colors.scss';

.reg {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reg-container {
  width: 390px;
  height: 500px;
}

.reg-title {
  font-weight: 500;
  line-height: 16px;
  color: $green;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
