@import './../../../styles/colors.scss';
@import './../../../styles/variables';

.profile-content {
  min-height: calc(100vh - $headerHeight - $footerHeight - 2 * $pageGap);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.profile-top-container {
  display: flex;
}

.profile-name {
  display: flex;
  width: 100%;
  gap: 5px;
  padding: 0 20px;
}

.profile-first-name,
.profile-last-name {
  display: flex;
  margin: 0;
}

.edit-mode-btn {
  min-width: 120px;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  background-color: $green;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $white;
  text-align: center;
  transition: 0.5s all;
  outline: none;
  border: none;
  margin-top: 10px;
  margin-right: 20px;

  &:hover {
    background-color: $darkGreen;
  }
}

.date-birth-container {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.date-birth-title {
  font-weight: 700;
}

.date-birth {
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .profile-top-container {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .profile-name {
    flex-direction: column;
  }

  .edit-mode-btn-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 700px) {
  .edit-mode-btn {
    height: 28px;
  }
}
