@import './../../../styles/colors.scss';
@import './../../../styles/variables';

.profile-content {
  min-height: calc(100vh - $headerHeight - $footerHeight - 2 * $pageGap);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.profile-top-container {
  display: flex;
  justify-content: space-between;
}

.edit-mode-btn-container {
  display: flex;
  justify-content: flex-end;
}

.profile-name {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 0 20px;
}

.profile-first-name,
.profile-last-name {
  display: flex;
  margin: 0;
}

.edit-mode-btn,
.edit-password-btn {
  min-width: 120px;
  width: 120px;
  height: 45px;
  border-radius: 5px;
  background-color: $green;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $white;
  text-align: center;
  transition: 0.5s all;
  outline: none;
  border: none;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 16px;

  &:hover {
    background-color: $darkGreen;
  }
}

.date-birth-container,
.email-container {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}

.date-birth-title,
.email-title {
  font-weight: 700;
}

.date-birth,
.email {
  font-weight: 500;
}

// .addresses {
//   border-top: 1px solid $green;
//   padding-top: 10px;
//   font-weight: 700;
//   font-size: 16px;
//   justify-content: center;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   gap: 15px;
// }

// .addresses-title {
//   text-align: center;
// }

// .addresses-container {
//   width: 100%;
//   display: flex;
//   gap: 20px;
// }

// .shipping-address-container,
// .billing-address-container {
//   display: flex;
//   flex-direction: column;
//   width: 50%;
//   padding: 0 20px;
//   gap: 10px;
// }

// .shipping-address-title,
// .billing-address-title {
//   font-weight: 500;
// }

// .shipping-address,
// .billing-address {
//   font-weight: 400;
//   margin-bottom: 10px;
// }

// .country-container {
//   display: flex;
//   gap: 5px;
// }

// .label {
//   display: none;
//   font-weight: 300;
//   font-size: 12px;
//   color: $white;
//   background-color: $darkGreen;
//   border-radius: 3px;
//   padding: 3px;
// }

// .label.show {
//   display: block;
// }

// .message {
//   font-weight: 400;
// }

// .edit-btn {
//   margin-top: 5px;
//   background-color: $green;
//   border: 0;
//   color: $white;
//   border-radius: 3px;
//   width: 70px;
//   height: 25px;
// }

// .toast-success {
//   width: 200px;
//   height: 100px;
//   color: $green;
//   background-color: $gray;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   border-radius: 3px;
// }

// .toast-error {
//   width: 200px;
//   height: 100px;
//   color: $red;
//   background-color: $gray;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   border-radius: 3px;
// }

@media screen and (max-width: 800px) {
  .profile-top-container {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .edit-mode-btn-container {
    display: flex;
    justify-content: flex-end;
  }
}
