@import './../../../styles/colors';

.login-form {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-inputs {
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-field {
  display: flex;
  flex-direction: column;
  height: 125px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.login-field-password {
  position: relative;
}

.login-label {
  font-family: Cera Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.login-input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  padding-left: 5px;
  border: 2px solid $lightGray;
}

.login-input-email:focus,
.login-input-password:focus {
  outline: none;
}

.success {
  border: 2px solid $green;
}

.error {
  border: 2px solid $red;
}

.login-error {
  padding-top: 3px;
  font-size: 11px;
  margin: 4px 0 0 5px;
  font-weight: 500;
  color: $red;
}

.error-message {
  display: flex;
  justify-content: flex-start;
}

.tooltip-container {
  position: relative;
}

.tooltip-icon {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-image: url('./../../../assets/images/info-icon.svg');
  background-size: cover;
  cursor: pointer;
}

.tooltip-icon:hover + .tooltip-message,
.tooltip-icon:focus + .tooltip-message {
  display: block;
}

.tooltip-message {
  background-color: $gray;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 10px 10px 10px 0px;
  border-radius: 5px;
  width: 256px;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  display: none;
}

.tooltip-item {
  font-weight: 400;
  font-size: 13px;
}

.show-password-btn {
  position: absolute;
  top: 28px;
  right: 10px;
  width: 18px;
  height: 18px;
  background-image: url('./../../../assets/images/eye.svg');
  background-size: cover;
  border: 0;
  cursor: pointer;
}

.show-password-btn.hidden-eye {
  background-image: url('./../../../assets/images/eye-off.svg');
}

.login-btn {
  height: 45px;
  width: 300px;
  background: $green;
  color: $white;
  border-radius: 5px;
  border: 0;
  transition: all 0.3s;
}

.login-btn:disabled {
  background: $lightGreen;
}
