$green: #46a358;
$red: #f03800;
$lightRed: #fdd4c7;
$gray: #333333;
$lightGreen: #46a3595e;
$darkGreen: #1a6d2a;
$mediumLightGreen: #90e2a1;
$darkgray: #5a5a5a22;
$lightGray: #eaeaea;
$mediumGray: #f5f5f580;
$mediumDarkGray: #7777777e;
$white: #ffffff;
