@import './../../../styles/colors.scss';
@import './../../../styles/variables';

.about-content {
  min-height: calc(100vh - $headerHeight - $footerHeight - 2 * $pageGap);
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.heading {
  text-align: center;
}
