@import './../../../styles/colors.scss';
@import './../../../styles/variables';

.product-page-content {
  min-height: calc(100vh - $headerHeight - $footerHeight - 20px);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
}

.product-page-images-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 50%;
  flex-basis: 50%;
  gap: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.product-page-images-preview-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100px;
  overflow: hidden;
  position: relative;

  & > * {
    cursor: pointer;
  }
}

.product-page-images-selected-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 564px;
  width: 564px;
}

.product-page-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;

  &.selected-image {
    cursor: pointer;
    height: 564px;
    width: 564px;
  }
}

.product-page-image {
  height: 100%;
  width: auto;
}

.product-page-info-content {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  width: 50%;
  gap: 30px;
}

.product-page-name {
  font-size: 28px;
  margin: 0;
}

.product-page-price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin-bottom: 10px;

  &::after {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $green;
    content: '';
  }
}

.product-page-price {
  color: $green;
  font-size: 22px;
  margin: 0;
}

.product-page-discount {
  font-size: 22px;
  margin: 0;
  color: $red;
}

.product-page-description-container {
  display: flex;
  flex-direction: column;
}

.product-page-description-heading,
.product-page-brand-heading,
.product-page-size-heading,
.product-page-bedrooms-heading,
.product-page-persons-heading {
  font-weight: bold;
  margin: 0 0 8px 0;
}

.product-page-description,
.product-page-brand {
  margin: 0;
}

.product-page-sizes {
  display: flex;
  gap: 10px;
}

.product-page-size {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $green;
  min-width: 30px;
  height: 30px;
  padding: 4px;
  cursor: pointer;
  transition: 0.5s all;

  &:hover {
    color: $white;
    background-color: $green;
  }
}

.hidden {
  display: none;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $mediumDarkGray;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }
}

.modal-window {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 70%;
  max-height: 84%;
  overflow: hidden;
}

.modal-image {
  width: 100%;
  height: auto;
}

.modal-close-icon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  fill: $green;

  & .background {
    fill-opacity: 0.5;
    transition: all 0.5s;
  }

  &:hover .background {
    fill-opacity: 0.9;
  }
}
.product-page-images-preview-container {
  position: relative;
  overflow: hidden;
  max-width: 564px;
}

.left-arrow-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  z-index: 1;

  & svg {
    fill: $white;
    fill-opacity: 0.6;
    stroke: $green;
    stroke-width: 2;
    transition: all 0.5s;
  }

  &:hover svg {
    fill-opacity: 0.9;
  }
}

.right-arrow-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
  z-index: 1;

  & svg {
    fill: $white;
    fill-opacity: 0.6;
    stroke: $green;
    stroke-width: 2;
    transition: all 0.5s;
  }

  &:hover svg {
    fill-opacity: 0.9;
  }
}

@media screen and (max-width: 1440px) {
  .product-page-images-preview-content {
    max-width: none;
  }

  .product-page-images-selected-content {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .product-page-image-container {
    &.selected-image {
      width: 100%;
      height: fit-content;
      aspect-ratio: 1 / 1;
    }
  }
}

@media screen and (max-width: 700px) {
  .product-page-content {
    flex-direction: column;
    align-items: center;
  }

  .product-page-images-content {
    width: 100%;
    flex-basis: 100%;
    gap: 16px;
  }

  .product-page-images-preview-content {
    display: none;
  }

  .product-page-info-content {
    flex-basis: 100%;
    width: 100%;
  }

  .modal-window {
    width: 80%;
    max-width: 80%;
  }
}
