@import './../../../styles/colors.scss';
@import './../../../styles/variables';

.product-page-content {
  min-height: calc(100vh - $headerHeight - $footerHeight - 28px - 20px);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
}

.product-page-images-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 380px;
  flex-basis: 45%;
  align-items: center;
  gap: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.product-page-image-container,
.selected-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;

  &.selected-image {
    cursor: pointer;
    height: 380px;
    width: 380px;
  }
}

.product-page-image,
.selected-product-page-image {
  height: 100%;
  width: auto;
}

.product-page-info-content {
  display: flex;
  flex-direction: column;
  flex-basis: 53%;
  width: 50%;
  gap: 30px;
}

.product-page-name {
  font-size: 28px;
  margin: 0;
}

.product-page-price-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin-bottom: 10px;

  &::after {
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $green;
    content: '';
  }
}

.product-page-price {
  color: $green;
  font-size: 22px;
  margin: 0;
}

.product-page-discount {
  font-size: 22px;
  margin: 0;
  color: $red;
}

.add-to-cart-btn {
  width: 100%;
  border-radius: 5px;
  background-color: #46a358;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: 0.5s all;
  outline: none;
  border: none;
  margin-top: 15px;
  align-self: center;
  cursor: pointer;
  transition-duration: 0.5s;

  &:hover {
    background-color: $darkGreen;
  }
}

.product-page-description-container {
  display: flex;
  flex-direction: column;
}

.product-page-description-heading,
.product-page-brand-heading,
.product-page-size-heading,
.product-page-bedrooms-heading,
.product-page-persons-heading {
  font-weight: bold;
  margin: 0 0 8px 0;
}

.product-page-description,
.product-page-brand {
  margin: 0;
}

.product-page-sizes {
  display: flex;
  gap: 10px;
}

.product-page-size {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $green;
  min-width: 30px;
  height: 30px;
  padding: 4px;
  cursor: pointer;
  transition: 0.5s all;

  &:hover {
    color: $white;
    background-color: $green;
  }
}

.hidden {
  display: none;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $mediumDarkGray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.hidden {
    display: none;
  }
}

.modal-img-icon-container {
  max-width: 90vh;
  max-height: 90vh;
}

.modal-image {
  max-height: 90vh;
  max-width: 90vh;
  object-fit: cover;
}

.modal-img-icon-container {
  order: 1;
}

#selected-modal {
  order: 0;
}

.modal-close-icon {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  fill: $green;

  & .background {
    fill-opacity: 0.5;
    transition: all 0.5s;
  }

  &:hover .background {
    fill-opacity: 0.9;
  }
}
.product-page-images-preview-container {
  position: relative;
  overflow: hidden;
  width: 380px;
  height: 130px;
}

.product-page-images-selected-container {
  position: relative;
  overflow: hidden;
  width: 380px;
}

.modal-window {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 90vh;
  max-height: 90vh;
  overflow: hidden;
  border-radius: 15px;
}

.product-page-images-preview-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100%;
  overflow: hidden;
  position: relative;

  & > * {
    cursor: pointer;
  }
}

.product-page-images-selected-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.modal-img-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow: hidden;
  position: relative;
}

.left-arrow-icon,
.left-arrow-modal {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  z-index: 1;

  & svg {
    fill: $white;
    fill-opacity: 0.6;
    stroke: $green;
    stroke-width: 2;
    transition: all 0.5s;
  }

  &:hover svg {
    fill-opacity: 0.9;
  }
}

.right-arrow-icon,
.right-arrow-modal {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
  z-index: 1;

  & svg {
    fill: $white;
    fill-opacity: 0.6;
    stroke: $green;
    stroke-width: 2;
    transition: all 0.5s;
  }

  &:hover svg {
    fill-opacity: 0.9;
  }
}

#active-card {
  border: 4px solid $green;
}

.toast-remove-success,
.toast-add-success,
.toast-error {
  padding: 20px;
  max-width: 300px;
  color: $white;
  font-size: 18px;
  line-height: 28px;
  z-index: 100;
}

.toast-add-success {
  background-color: $darkGreen;
}

.toast-remove-success {
  background-color: $gray;
}

.toast-error {
  background-color: $red;
}

@media screen and (max-width: 1440px) {
  .product-page-images-preview-content {
    max-width: none;
  }

  .product-page-image-container {
    &.selected-image {
      height: fit-content;
      aspect-ratio: 1 / 1;
    }
  }
}

@media screen and (max-width: 1000px) {
  .modal-img-icon-container {
    max-width: 80vw;
    max-height: 80vw;
  }

  .modal-image {
    max-height: 80vw;
    max-width: 80vw;
  }

  .modal-window {
    max-height: 80vw;
    max-width: 80vw;
  }
}

@media screen and (max-width: 700px) {
  .product-page-content {
    flex-direction: column;
    align-items: center;
  }

  .product-page-images-content {
    width: 100%;
    flex-basis: 100%;
    gap: 16px;
  }

  .product-page-info-content {
    flex-basis: 100%;
    width: 100%;
  }
}
