@import './../../../styles/colors.scss';

.login {
  width: 100%;
  max-width: 1440px;
  padding: 0 120px;
  height: 100dvh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  width: 390px;
  height: 500px;
  flex-grow: 1;
}

.login-title {
  font-weight: 500;
  line-height: 16px;
  color: $green;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.signup-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.signup-rest-text-container {
  display: flex;
}

.signup-link {
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
  &:hover {
    color: $green;
    transition: 0.3s;
  }
}

.signup-rest-text {
  margin-left: 5px;
}

@media screen and (max-width: 1000px) {
  .login {
    padding: 0 60px;
  }
}

@media screen and (max-width: 600px) {
  .login {
    padding: 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .login {
    padding: 0 20px;
  }
}
