@import './../styles/variables';
.app {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  .app {
    padding: 0 60px;
  }
}

@media screen and (max-width: 600px) {
  .app {
    padding: 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .app {
    padding: 0 20px;
  }
}
