@import './../../../styles/colors.scss';
@import './../../../styles/variables';

.main-content {
  min-height: calc(100vh - $headerHeight - $footerHeight - 2 * $pageGap);
  display: flex;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.page-links {
  display: block;
  border: 1px solid $green;
  padding: 10px;
  text-decoration: none;
  color: $gray;
  width: fit-content;
  min-width: 110px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .main-content {
    padding: 0 60px;
  }
}

@media screen and (max-width: 600px) {
  .main-content {
    padding: 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .main-content {
    padding: 0 20px;
  }
}
