@import './../../../styles/colors.scss';
@import './../../../styles/variables';

.main-content {
  min-height: calc(100vh - $headerHeight - $footerHeight - 20px - 2 * $pageGap);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 2%;
}

.page-links {
  display: block;
  border: 1px solid $green;
  padding: 10px;
  text-decoration: none;
  color: $gray;
  width: fit-content;
  min-width: 110px;
  text-align: center;
}
