@import './../../../styles/colors.scss';

.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background:
    url('../../../assets/images/bg-el5.svg') top 65% left 85%/60px no-repeat,
    url('../../../assets/images/bg-el6.svg') top 18% left 95%/130px no-repeat,
    url('../../../assets/images/bg-el2.svg') bottom 0 right 0/1000px no-repeat,
    url('../../../assets/images/bg-el3.svg') top 0 left 0/280px no-repeat,
    url('../../../assets/images/bg-el1.svg') top 0 right 0/500px no-repeat,
    url('../../../assets/images/bg-el4.svg') top 45% left 65%/160px no-repeat,
    url('../../../assets/images/bg-el7.svg') top 60% left 10%/60px no-repeat;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.not-found-title {
  font-size: 240px;
  margin: 0;
  text-align: center;
  -webkit-text-stroke: 4px $green;
  text-stroke: 4px $green;
  color: $white;
}

.not-found-text {
  font-size: 60px;
  text-align: center;
  color: $gray;
}

.button-to-main-page {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background-color: $green;
  width: 200px;
  padding: 20px;
  text-decoration: none;
  color: $white;
  text-align: center;
  transition: 0.5s all;

  &:hover {
    background-color: $darkGreen;
  }
}

@media screen and (max-width: 650px) {
  .not-found-title {
    font-size: 180px;
  }

  .not-found-text {
    font-size: 40px;
  }
}
